<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Admin Dashboard</title>

    <!-- GOOGLE FONT -->

    <link rel="preconnect"
          href="https://fonts.googleapis.com">

    <link rel="preconnect"
          href="https://fonts.gstatic.com"
          crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

    <!-- ICONS -->

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- CSS -->

    <link rel="stylesheet"
          href="/css/style.css">

</head>

<body>

<nav class="navbar">

    <h2>Admin Dashboard</h2>

    <button onclick="logout()">
        Logout
    </button>

</nav>

<div class="dashboard-container">

    <h1>
        <i class="fa-solid fa-user-shield"></i>
        Admin Dashboard
    </h1>

    <div id="messageContainer">

    </div>

</div>

<script src="/js/script.js"></script>

</body>
</html>